@import "tailwindcss";

@layer base {

  /* *{
    border: 1px solid #c93600;
  } */

  #root{
    font-family: 'Work Sans', sans-serif;
    @apply w-full flex flex-col gap-0 min-h-screen max-w-screen;
  }

  .partition-line::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    height: 100%;
    width: 1px;
    background: #ffffff;
  }

  .shaded-bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(63, 41, 41, 0.404); 
  }

  .hori-strip::after{
    content: '';
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100px;
    background-color: blue;
  }

  /* @media (max-width:800px) {
    .hori-strip::after{
      bottom: 200px;
      left: 50%;
    }
  } */

  .angled-corner::after{
    content: '';
    position: absolute;
    top: -35px;
    left: -1px;
    height: 40px;
    width: 35px;
    border-bottom-left-radius: 6px ;
    background-color: #c93600;
    clip-path: polygon(49% 51%, 0% 100%, 100% 100%);
    z-index: 1;
  }

  .active-right::after {
    content: "";
    @apply bg-orange-600 h-full absolute top-0 w-[50%] transition-all rounded-xl z-0 right-0;
  }
  .active-left::after {
    content: "";
    @apply bg-orange-600 h-full absolute top-0 w-[50%] transition-all rounded-xl z-0 right-1/2;
  }

}

@theme {
    --color-shade-blue: #00274a;
    --text-heading: 48px;
}
