@import "tailwindcss";

@layer base {

  #root{
    @apply w-full flex flex-col items-center h-screen bg-gray-100;
  }

  .partition-line::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    height: 100%;
    width: 1px;
    background: #ffffff;
  }
}

@theme {
    --color-shade-blue: #00274a;
}
