@import "tailwindcss";

@layer base {
  .partition-line::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    height: 100%;
    width: 1px;
    background: #ffffff;
  }
}

@theme {
    --color-shade-blue: #00274a;
}
